#txt-input {
  width: 80%;
  display: block;
  height: 10vh;
  margin: 1rem;
  padding: 1rem;
}

#output-heading {
  font-size: larger;
}

#output {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  height: 10vh;
}
